/* 日報一覧画面 */
button{
    display:inline-block;
    }
.edit-delete-btn{
    text-align:center;
    }

/* モーダル画面 */
.modal-btn {
    text-align: right;
}

.error-message {
    color: red;
}

/* マイページ */
a {
    color: gray;
}

.password-reset {
    text-align: right;
}
